<a href="https://colab.research.google.com/github/ayazahmed07/Quater-3/blob/main/Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CLASS 1 dated 22-FEB-2025 "Simple Print Hellow World"

In [44]:
print("Hellow World")

Hellow World

In [45]:
print("Hellow python")

Hellow python

In [46]:
print("Hellow mic check")

Hellow mic check

In [47]:
full_name: str = "Ayaz Ahmed"
print(full_name)

Ayaz Ahmed

In [48]:
any_number : int = "333"
print(type(any_number))

<class 'str'>

In [49]:
float_number : float = 3.33
print(float_number)

3.33

In [50]:
is_teacher: bool = True
print(type(is_teacher))

<class 'bool'>

In [51]:
# @title Default title text
first_name: str = "Ayaz"
last_name: str = "Ahmed"
full_name: str = first_name + " " + last_name
print(full_name)

Ayaz Ahmed

In [52]:
first_name: str = "bhai"
last_name: str = "Ahmed"
full_name: str = f"{first_name} {last_name}"
print(full_name)

bhai Ahmed

In [53]:
#To use a value dynamicaly we use f string
qtr: str = "Ayaz"
achievement: str = f"""Thrilled to share {qtr} have
passed Q2 exam!
line break"""
print(id(achievement))

133734169504416

In [54]:
a: int = 5
b: int = 2
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a % b =", a % b)
print("a // b =", a // b)
print("a ** b =", a ** b)

a + b = 7
a - b = 3
a * b = 10
a / b = 2.5
a % b = 1
a // b = 2
a ** b = 25

In [55]:
fruits = ["Mango", "Banana", "Grapes"]
print(fruits)
print("Length",len(fruits))

['Mango', 'Banana', 'Grapes']
Length 3

In [56]:
fruits = ["Mango", "Banana", "Grapes"]
print(fruits[0:3])
print(fruits)

['Mango', 'Banana', 'Grapes']
['Mango', 'Banana', 'Grapes']

#CLASS 2 dated 01-March-2025 "JOIN" "REPLACE" "IS OPERATOR"

In [57]:
criket_won = "Pakistan won all the matches"
print(criket_won)

Pakistan won all the matches

In [58]:
cricket_team = ", ".join(["Pakistan, India, USA"])
print(type(cricket_team))

<class 'str'>

In [59]:
name = "Ayaz ahmed"
print(len(name))

10

In [60]:
name = "Ayaz"
print(id(name))

133734169625840

In [61]:
import sys

a = sys.intern("Hellow world") # sys = system (Specail memory Pool) store a value in a memory and if same value happens again then it stores on same memory
b = sys.intern("Hellow world")
print(id(a))
print(id(b))
print(a is b) # is operator check for same memory i.e id

133734169633200
133734169633200
True

In [62]:
string_methods = dir(list)

filtered_methods = [method for method in string_methods if not method.startswith("__")]

filtered_methods

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [63]:
fruits: list = ["Mango", "Apple", "Banana"]
# print(fruits[0:2]) # starts with o index and end before 2nd index i.e Mango and Apple
# fruits.append("Orange") # add only 1 value at end
fruits.extend(["Watermelon", "Kiwi"]) # add multiple value in a list
fruits.pop(1) #remove index numbwer value
print(fruits) #we can change list

['Mango', 'Banana', 'Watermelon', 'Kiwi']

In [64]:
person : dict = {
    "name": "Ali",
    "age": 23,
    "isTeacher" : True,
    "class": {
        "timings": "2 to 5",
        "day": "Saturday"

    }

} #use curly braces in object / dict = dictonary

print(person["name"])
print(person["class"]["day"]) # we use key alwasy with inverted commas repat if nested dictonery

Ali
Saturday

In [65]:
import random

babar_score: int = random.randint(0, 120)

# print("babar azam score", babar_score)

if(babar_score > 50 ):
  print("😘" "babar azam is King", babar_score) #windows + .
else:
  print("🚓" "babar azam is not King with score", babar_score)

🚓babar azam is not King with score 15

In [66]:
#Tuples "type of list" but we can not change it later (list is mutable and may be change) this is imutable
cricket_team_players = ("Virat", "Babar", "Rizwan", "Shaheen")
print(cricket_team_players[2])

Rizwan

In [67]:
value: set = {1,6,3,4, 1, 2, 8, 10, 9} # return value with unique number it remove duplicates values
print(type(value))
print(value)

# ASSIGNMENTS CLASS 2 - Step 8 Modules Functions - Unit Converter

<class 'set'>
{1, 2, 3, 4, 6, 8, 9, 10}

# CLASS 3 dated 08-March2025 - SET ==> LIST ==> TUPLE

In [68]:
# list are mutable that can be change
item_list: list = ["Mango", "Banana", "Tea"]

In [69]:
# tuples are imutable that can not be change

item_tuple = ("Mango", "Banana", "Tea")
item_tuple

('Mango', 'Banana', 'Tea')

In [70]:
# Sets
# Unorder
# Mutable
# Unchangalbe

item_set = {"Mango", "Banana", "Tea"}
item_set

{'Banana', 'Mango', 'Tea'}

In [71]:
#frozen sets are imutable
#imutable that can not be changes

iftar_items: set = {"Mango", "Banana", "Tea"}
iftar_items_frozenset = frozenset(iftar_items)
iftar_items_frozenset

print(type(iftar_items_frozenset))

<class 'frozenset'>

In [72]:
# username = input("Enter your name")
# print(username)

num1: int = input("Enter your 1st number: ")
num2: int = input("Enter your 2nd number: ")


sum: int = int(num2) + int(num1)
print(sum)

Enter your 1st number: 1
Enter your 2nd number: 8
9

In [73]:
items: list = ["Tea", "Mango", "Banana"]
fixeditems = tuple(items)
fixeditems

# if you want to remove duplicate value from list then 1st convert the list into set and then again convert it into list
# it will remove duplicate items from list

('Tea', 'Mango', 'Banana')

In [74]:
# Implicit and Explicit Casting
# Imlicit casting which python compiler changes
# Explicit casting which programer changes

num1: int = 10;
num2: float = 10.23;

sum: int = num1 + num2
print(sum)

#Explicit casting


num1: int = 10;
num2 = "1023";

sum: int = num1 + int(num2)
print(sum)

20.23
1033

In [75]:
# Module is a simple py file

import math
# math.pi

# print(math.sqrt(10))

import random

In [76]:
# to install any external /third party pakacge / module we use mark of esclamation
!pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.1.31)

In [78]:
# import requests

# response request.get("")

In [79]:
# to make a function we use def make f string to use a dynamic value
def greeting(name: str) -> str:
    print(f"Hellow {name}")

greeting("Ali")

Hellow Ali

In [80]:
def sandwichmaker(bread: str, filling: str):
    sandwhichbread = f"{bread} Bread"
    filling = f"{filling} Filling"

    complete_sandwich = f"Your sandwich with {sandwhichbread} and {filling} is raedy to serve!"

    print("Inner Function", complete_sandwich)
    return complete_sandwich

ali = sandwichmaker("Garlic", "Beef Patty")
print(ali)

Inner Function Your sandwich with Garlic Bread and Beef Patty Filling is raedy to serve!
Your sandwich with Garlic Bread and Beef Patty Filling is raedy to serve!