<a href="https://colab.research.google.com/github/ayazahmed07/Quater-3/blob/main/Class1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CLASS 1 dated 22-FEB-2025 "Simple Print Hellow World"

In [ ]:
print("Hellow World")

Hellow World

In [ ]:
print("Hellow python")

Hellow python

In [ ]:
print("Hellow mic check")

Hellow mic check

In [ ]:
full_name: str = "Ayaz Ahmed"
print(full_name)

Ayaz Ahmed

In [ ]:
any_number : int = "333"
print(type(any_number))

<class 'str'>

In [ ]:
float_number : float = 3.33
print(float_number)

3.33

In [ ]:
is_teacher: bool = True
print(type(is_teacher))

<class 'bool'>

In [ ]:
# @title Default title text
first_name: str = "Ayaz"
last_name: str = "Ahmed"
full_name: str = first_name + " " + last_name
print(full_name)

Ayaz Ahmed

In [ ]:
first_name: str = "bhai"
last_name: str = "Ahmed"
full_name: str = f"{first_name} {last_name}"
print(full_name)

bhai Ahmed

In [ ]:
#To use a value dynamicaly we use f string
qtr: str = "Ayaz"
achievement: str = f"""Thrilled to share {qtr} have
passed Q2 exam!
line break"""
print(id(achievement))

133778488247552

In [ ]:
a: int = 5
b: int = 2
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b)
print("a % b =", a % b)
print("a // b =", a // b)
print("a ** b =", a ** b)

a + b = 7
a - b = 3
a * b = 10
a / b = 2.5
a % b = 1
a // b = 2
a ** b = 25

In [ ]:
fruits = ["Mango", "Banana", "Grapes"]
print(fruits)
print("Length",len(fruits))

['Mango', 'Banana', 'Grapes']
Length 3

In [ ]:
fruits = ["Mango", "Banana", "Grapes"]
print(fruits[0:3])
print(fruits)

['Mango', 'Banana', 'Grapes']
['Mango', 'Banana', 'Grapes']

#CLASS 2 dated 01-March-2025 "JOIN" "REPLACE" "IS OPERATOR"

In [ ]:
criket_won = "Pakistan won all the matches"
print(criket_won)

Pakistan won all the matches

In [ ]:
cricket_team = ", ".join(["Pakistan, India, USA"])
print(type(cricket_team))

<class 'str'>

In [ ]:
name = "Ayaz ahmed"
print(len(name))

10

In [ ]:
name = "Ayaz"
print(id(name))

133778488333872

In [ ]:
import sys

a = sys.intern("Hellow world") # sys = system (Specail memory Pool) store a value in a memory and if same value happens again then it stores on same memory
b = sys.intern("Hellow world")
print(id(a))
print(id(b))
print(a is b) # is operator check for same memory i.e id

133778258812336
133778258812336
True

In [ ]:
string_methods = dir(list)

filtered_methods = [method for method in string_methods if not method.startswith("__")]

filtered_methods

['append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
fruits: list = ["Mango", "Apple", "Banana"]
# print(fruits[0:2]) # starts with o index and end before 2nd index i.e Mango and Apple
# fruits.append("Orange") # add only 1 value at end
fruits.extend(["Watermelon", "Kiwi"]) # add multiple value in a list
fruits.pop(1) #remove index numbwer value
print(fruits) #we can change list

['Mango', 'Banana', 'Watermelon', 'Kiwi']

In [ ]:
person : dict = {
    "name": "Ali",
    "age": 23,
    "isTeacher" : True,
    "class": {
        "timings": "2 to 5",
        "day": "Saturday"

    }

} #use curly braces in object / dict = dictonary

print(person["name"])
print(person["class"]["day"]) # we use key alwasy with inverted commas repat if nested dictonery

Ali
Saturday

In [ ]:
import random

babar_score: int = random.randint(0, 120)

# print("babar azam score", babar_score)

if(babar_score > 50 ):
  print("😘" "babar azam is King", babar_score) #windows + .
else:
  print("🚓" "babar azam is not King with score", babar_score)

🚓babar azam is not King with score 14

In [ ]:
#Tuples "type of list" but we can not change it later (list is mutable and may be change) this is imutable
cricket_team_players = ("Virat", "Babar", "Rizwan", "Shaheen")
print(cricket_team_players[2])

Rizwan

In [ ]:
value: set = {1,6,3,4, 1, 2, 8, 10, 9} # return value with unique number it remove duplicates values
print(type(value))
print(value)

<class 'set'>
{1, 2, 3, 4, 6, 8, 9, 10}

# ASSIGNMENTS CLASS 2 - Step 8 Modules Functions - Unit Converter